alias ls="ls -h"

alias cls='clear; ls'

alias curljson='curl -H "Accept: application/json"'
alias e='exit'

# funeral futurist
alias carbon_dig="dig @ns1.funeralfuturist.net "

# git
alias gpull="git stash && git pull --rebase && git stash pop"
alias gpush="gpull && git push"

# Handle automatic bundle exec
bundle_commands=( spec rspec cucumber cap watchr rails rackup )

function run_bundler_cmd () {
    if [ -e ./Gemfile ]; then
        echo "bundle exec $@"
        bundle exec $@
    else
        echo "$@"
        $@
    fi
}

for cmd in $bundle_commands
do
    alias $cmd="run_bundler_cmd $cmd"
done