alias ls="ls -h"

alias cls='clear; ls'

alias curljson='curl -H "Accept: application/json"'
alias e='exit'

# funeral futurist
alias carbon_dig="dig @ns1.funeralfuturist.net "

# git
alias gpull="git stash && git pull --rebase && git stash pop"
alias gpush="gpull && git push"