alias ls="ls -h"
alias cls='clear; ls'
alias curljson='curl -H "Accept: application/json"'
alias e='exit'

# git
alias gpull="git stash && git pull --rebase && git stash pop"
alias rebase_develop="git stash; git rebase origin/develop; git stash pop"
alias external_ip="curl icanhazip.com"
alias copy_ssh_key="cat .ssh/id_rsa.pub | pbcopy"
