.*.sw?
.svn
*.pdf
.DS_Store
*.tmproj
# *.zip
.com.apple.*
[core]

# ECLIPSE IDE project files
.project
.cache
.cache/*
.settings
.settings/*

# Espresso project files
*.esproj

# system SWAP, TMP and BACKUP files
*~
*.swp
*.bak

# CakePHP tmp content
*/tmp/cache/*
*/tmp/logs/*
*/tmp/sessions/*
*/tmp/tests/*

.idea
rails.ids
.yardoc
*.iml
*.ipr
*.iws

.pt

out
tags